# Analyze EV incentives wrt the top 5 EV models sold in the US in the last 10 years
Question to answer: Do state and utility/private incentives influence the rate of electric vehicle purchases?

Will use HEV sales from 1999 - 2021 and PEV (EV and PHEV) sales from 2011-2021 from US Dept of Energy (https://afdc.energy.gov/data/search?q=sales)

Will use energy laws/incentives provided by US Dept of Energy (https://afdc.energy.gov/laws)

Use linear regression to answer question: https://realpython.com/linear-regression-in-python/

Utility/Private incentives meaning: https://afdc.energy.gov/laws/utility-examples

## Get Data

In [5]:
import pandas as pd

In [9]:
hev_sales_df = pd.read_csv('hev_sales.csv')
hev_sales_df

,Vehicle,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
0,Honda Insight,17,"3,788","4,726","2,216","1,168",583,666,722,3,...,"15,549","5,846","4,802","3,965","1,458",75,3,"12,510","23,686","123,317"
1,Toyota Prius,-,"5,562","15,556","20,119","24,627","53,991","107,897","106,971","181,221",...,"136,463","223,906","222,140","194,108","180,603","134,155","87,725","59,995","47,862","2,242,397"
2,Honda Civic,-,-,-,"13,707","21,771","26,013","25,864","31,253","32,575",...,"4,703","7,156","7,719","5,070","4,887",896,65,6,-,"235,437"
3,Ford Escape/Mercury Mariner,-,-,-,-,-,"2,993","15,960","22,549","25,108",...,"10,089","1,441",-,-,-,-,-,-,-,"126,230"
4,Honda Accord,-,-,-,-,-,653,"16,826","5,598","3,405",...,-,-,996,"13,977","11,065","9,179","22,008","17,188","23,817","124,911"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Nissan Rogue Hybrid,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,"3,363","4,205","7,568"
57,Lexus LS 500h,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,123,-,123
58,Lexus UX,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,"8,603","8,603"
59,Toyota Corolla,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,"16,299","16,299"
60,Total,17,"9,350","20,282","36,042","47,566","84,233","205,876","251,864","351,071",...,"266,501","434,648","495,535","452,172","384,400","346,949","362,868","343,219","400,746","5,374,023"

In [10]:
pev_sales_df = pd.read_csv('pev_sales.csv')
pev_sales_df

,Vehicle,Type,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
0,Chevy Volt,PHEV,"7,671","23,461","23,094","18,805","15,393","24,739","20,349","18,306","4,915","156,733"
1,Nissan Leaf,EV,"9,674","9,819","22,610","30,200","17,269","14,006","11,230","14,715","12,365","141,888"
2,Smart ED,EV,342,139,923,"2,594","1,387",657,544,"1,219",680,"8,485"
3,Mitsubishi I EV,EV,76,588,"1,029",196,115,94,6,-,-,"2,104"
4,BMW Active E,EV,-,673,-,-,-,-,-,-,-,673
5,Prius PHEV,PHEV,-,"12,749","12,088","13,264","4,191","2,474","20,936","27,595","23,630","116,927"
6,Ford Focus EV,EV,-,683,"1,738","1,964","1,582",901,"1,817",560,-,"9,245"
7,Honda Fit EV,EV,-,93,569,407,2,-,-,-,-,"1,071"
8,Tesla Model S,EV,-,"2,400","19,400","16,750","26,200","30,200","26,500","25,745","15,090","162,285"
9,Toyota RAV4 EV,EV,-,192,"1,005","1,184",18,-,-,-,-,"2,399"
10,Ford C-Max Energi,PHEV,-,"2,374","7,154","8,433","7,591","7,957","8,140",582,-,"42,231"
11,Honda Accord,PHEV,-,-,526,449,64,-,-,-,-,"1,039"
12,Ford Fusion Energi,PHEV,-,-,"6,089","11,550","9,750","15,938","9,632","8,074","7,476","68,509"
13,Chevy Spark,EV,-,-,560,"1,145","2,629","3,035",23,7,-,"7,399"
14,Fiat 500E,EV,-,-,260,"1,503","3,477","3,737","3,336","2,250",632,"15,195"
15,Porsche Panamera S E-Hybrid,PHEV,-,-,51,879,407,393,18,"2,036","1,958","5,742"
16,Cadillac ELR,PHEV,-,-,6,"1,310","1,024",534,17,1,-,"2,892"
17,BMW i3,EV,-,-,-,"6,092","11,024","7,625","6,276","6,117","4,854","41,988"
18,Mercedes B-Class (B250e),EV,-,-,-,774,"1,906",632,744,135,9,"4,200"
19,BMW i8,PHEV,-,-,-,555,"2,265","1,594",488,772,"1,102","6,776"
20,VW e-Golf,EV,-,-,-,357,"4,232","3,937","3,534","1,354","4,863","18,277"
21,Kia Soul EV,EV,-,-,-,359,"1,015","1,728","2,157","1,134",114,"6,507"
22,Porsche Cayenne S E-Hybrid,PHEV,-,-,-,112,"1,163","2,111","1,574","1,022","1,140","7,122"
23,Mercedes S550 Plug,PHEV,-,-,-,-,118,550,666,96,371,"1,801"
24,Volvo-XC90 Plug In,PHEV,-,-,-,-,86,"2,015","2,358","1,387","1,710","7,556"
25,Tesla Model X,EV,-,-,-,-,208,"19,600","21,700","26,100","19,425","87,033"
26,BMW X5,PHEV,-,-,-,-,892,"5,995","5,349","4,434",167,"16,837"
27,Hyundai Sonata Plug In,PHEV,-,-,-,-,15,"3,000","2,254",460,456,"6,185"
28,Audi A3 Plug In,PHEV,-,-,-,-,-,"4,280","2,877","2,597",437,"10,191"
29,BMW 3-series Plug-In,PHEV,-,-,-,-,-,880,"4,141","2,600",705,"8,326"
30,Mercedes GLE 550e,PHEV,-,-,-,-,-,231,463,966,"1,509","3,169"
31,BMW 7-series Plug-in,PHEV,-,-,-,-,-,23,707,339,80,"1,149"
32,Mercedes C350We,PHEV,-,-,-,-,-,171,817,"1,721","2,172","4,881"
33,Chevy Bolt,EV,-,-,-,-,-,579,"23,297","18,019","16,313","58,208"
34,Kia Optima Plug-in,PHEV,-,-,-,-,-,-,"1,512",965,350,"2,827"
35,Hyundai Ioniq EV,EV,-,-,-,-,-,-,432,345,739,"1,516"
36,Chrysler Pacifica Plug-in Hybrid,PHEV,-,-,-,-,-,-,"2,981","7,062","5,811","15,854"
37,Cadillac CT6,PHEV,-,-,-,-,-,-,205,231,25,461
38,BMW 5-Series Plug in,PHEV,-,-,-,-,-,-,"3,759","8,664","5,442","17,865"
39,MINI Countryman S E,PHEV,-,-,-,-,-,-,475,"1,564",494,"2,533"
40,Porsche Panamera 4 E-H,PHEV,-,-,-,-,-,-,-,-,-,-
41,Tesla Model 3,EV,-,-,-,-,-,-,"1,770","139,782","154,840","296,392"
42,Honda Clarity BEV,EV,-,-,-,-,-,-,"1,126",948,742,"2,816"
43,Volvo XC60 Plug In,PHEV,-,-,-,-,-,-,356,"2,267","1,682","4,305"
44,Volvo S90 Plug In,PHEV,-,-,-,-,-,-,112,437,407,956
45,Honda Clarity Plug-in,PHEV,-,-,-,-,-,-,903,"18,602","10,728","30,233"
46,Mitsubishi Outlander Plug In,PHEV,-,-,-,-,-,-,-,"4,166","2,810","6,976"
47,Hyundai Ioniq Plug-In,PHEV,-,-,-,-,-,-,-,"1,590","1,765","3,355"
48,Kia Niro Plug In,PHEV,-,-,-,-,-,-,-,"3,389","4,051","7,440"
49,Mercedes GLC 350e Hybrid,PHEV,-,-,-,-,-,-,-,567,"2,459","3,026"
50,Jaguar I-Pace,EV,-,-,-,-,-,-,-,393,"2,594","2,987"
51,Hyundai Kona Electric,EV,-,-,-,-,-,-,-,-,"1,721","1,721"
52,Subaru Crosstrek Hybrid,PHEV,-,-,-,-,-,-,-,-,880,880
53,Audi e-tron,EV,-,-,-,-,-,-,-,-,"5,369","5,369"
54,Kia Niro EV,EV,-,-,-,-,-,-,-,-,"1,562","1,562"
55,Total,NaN,"17,763","53,171","97,102","118,882","114,023","159,616","195,581","361,315","326,644","1,444,097"

In [102]:
all_sales_df = pd.read_csv('sales_electric_pev_hev.csv', index_col=0, na_values=['0']).fillna(0)
all_sales_df.loc['Total'] = all_sales_df.sum()
all_sales_df

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Hybrid electric,9350.0,20282.0,36042.0,47566.0,84233.0,205876.0,251864.0,351071.0,315763.0,290273.0,...,268749.0,434648.0,495535.0,452172.0,384400.0,346949.0,362868.0,338083.0,380794.0,454890.0
Plug-in hybrid-electric,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7671.0,38584.0,49008.0,55357.0,42959.0,72885.0,91188.0,123883.0,85791.0,66157.0
Electric,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10092.0,14587.0,48094.0,63525.0,71064.0,86731.0,104487.0,207062.0,233822.0,240053.0
Total,9350.0,20282.0,36042.0,47566.0,84233.0,205876.0,251864.0,351071.0,315763.0,290273.0,...,286512.0,487819.0,592637.0,571054.0,498423.0,506565.0,558543.0,669028.0,700407.0,761100.0

In [45]:
ev_laws_incentives_df = pd.read_csv('laws_and_incentives(11_16_2021).csv')

## Preprocess Data

In [13]:
from datetime import datetime
now = datetime.now()
dt_string = now.strftime("%Y-%m-%d %H:%M:%S UTC")

# drop columns that aren't needed: references, sequence number
ev_laws_incentives_df.drop('References', axis=1, inplace=True)
ev_laws_incentives_df.drop('Sequence Number', axis=1, inplace=True)

# drop rows where law/incentive has been repealed or is now archived and not relevant or has expired already
ev_laws_incentives_df['Expired Date'] = pd.to_datetime(ev_laws_incentives_df['Expired Date'], infer_datetime_format=True)
ev_laws_incentives_df['Archived Date'] = pd.to_datetime(ev_laws_incentives_df['Archived Date'], infer_datetime_format=True)
ev_laws_incentives_df['Repealed Date'] = pd.to_datetime(ev_laws_incentives_df['Repealed Date'], infer_datetime_format=True)

# get the current laws that are relevant
ev_current_laws_df = ev_laws_incentives_df[~(ev_laws_incentives_df['Expired Date'] < dt_string)]
ev_current_laws_df = ev_current_laws_df[~(ev_current_laws_df['Archived Date'] < dt_string)]
ev_current_laws_df = ev_current_laws_df[~(ev_current_laws_df['Repealed Date'] < dt_string)]

# drop these columns now
ev_current_laws_df.drop('Expired Date', axis=1, inplace=True)
ev_current_laws_df.drop('Archived Date', axis=1, inplace=True)
ev_current_laws_df.drop('Repealed Date', axis=1, inplace=True)

In [14]:
# get only incentives
ev_incentives_df = ev_current_laws_df[ev_current_laws_df['Type'].str.contains("Incentives")]

In [16]:
# get only laws
ev_laws_df = ev_current_laws_df[ev_current_laws_df['Type'].str.contains('Laws and Regulations')]

In [18]:
# not sure what programs are but here they are
ev_programs_df = ev_current_laws_df[ev_current_laws_df['Type'].str.contains('Programs')]
ev_programs_df

,Law Id,State,Title,Text,Enacted Date,Amended Date,Recent?,Type,Agency,Significant Update Date,Topic,Technology Categories,Incentive Categories,Regulation Categories,User Categories
0,284,US,Congestion Mitigation and Air Quality (CMAQ) I...,The CMAQ Program provides funding to state dep...,2005-08-10 00:00:00 UTC,NaN,False,Programs,U.S. Department of Transportation,NaN,NaN,BIOD|ETH|ELEC|HY|IR|NG|PHEV|LPG,GNT,NaN,STATION|FLEET|GOV
1,288,US,Clean Cities Coalition Network,The mission of Clean Cities Coalition Network ...,NaN,NaN,False,Programs,U.S. Department of Energy,NaN,NaN,AFTMKTCONV|BIOD|ETH|ELEC|EFFEC|HEV|HY|IR|NG|NE...,GNT|OTHER,NaN,STATION|AFP|PURCH|MAN|FLEET|GOV|IND
2,317,US,State Energy Program (SEP) Funding,The SEP provides grants to states to assist in...,NaN,NaN,False,Programs,U.S. Department of Energy,NaN,NaN,BIOD|ETH|ELEC|EFFEC|HY|NG|PHEV|LPG,GNT,NaN,OTHER
3,324,US,Clean Construction and Agriculture,Clean Construction is a voluntary program that...,NaN,NaN,False,Programs,U.S. Environmental Protection Agency,NaN,NaN,BIOD|ELEC|HEV|HY|NG|PHEV|LPG,GNT,NaN,PURCH|FLEET|OTHER
4,325,US,Ports Initiative,The U.S. Environmental Protection Agency\'s (E...,NaN,NaN,False,Programs,U.S. Environmental Protection Agency,NaN,NaN,BIOD|ELEC|HEV|HY|NG|PHEV|LPG,GNT|OTHER,NaN,FLEET|GOV
9,383,US,Voluntary Airport Low Emission (VALE) Program,The goal of the VALE Program is to reduce grou...,2005-08-10 00:00:00 UTC,NaN,False,Programs,U.S. Department of Transportation,NaN,NaN,BIOD|ETH|ELEC|HEV|HY|NG|PHEV|LPG,GNT,NaN,STATION|FLEET

## Get number of incentives per year

In [19]:
import numpy as np

In [21]:
# convert date columns to datetime type
ev_incentives_df['Enacted Date'] = ev_incentives_df['Enacted Date'].astype('datetime64[ns]')
ev_incentives_df['Enacted Date'] = pd.to_datetime(ev_incentives_df['Enacted Date'])
ev_incentives_df['Amended Date'] = pd.to_datetime(ev_incentives_df['Amended Date']).astype('datetime64[ns]')
ev_incentives_df['Significant Update Date'] = pd.to_datetime(ev_incentives_df['Significant Update Date']).astype('datetime64[ns]')
ev_incentives_df['Earliest Date'] = np.nan

C:\Users\eurydice\AppData\Local\Temp/ipykernel_13220/411025582.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ev_incentives_df['Enacted Date'] = ev_incentives_df['Enacted Date'].astype('datetime64[ns]')
C:\Users\eurydice\AppData\Local\Temp/ipykernel_13220/411025582.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ev_incentives_df['Enacted Date'] = pd.to_datetime(ev_incentives_df['Enacted Date'])
C:\Users\eurydice\AppData\Local\Temp/ipykernel_13220/411025582.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ev_incentives_df['Amended Date'] = pd.to_datetime(ev_incentives_df['Amended Date']).astype('datetime64[ns]')
C:\Users\eurydice\AppData\Local\Temp/ipykernel_13220/411025582.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ev_incentives_df['Significant Update Date'] = pd.to_datetime(ev_incentives_df['Significant Update Date']).astype('datetime64[ns]')
C:\Users\eurydice\AppData\Local\Temp/ipykernel_13220/411025582.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ev_incentives_df['Earliest Date'] = np.nan

In [22]:
min_dates = ev_incentives_df[['Enacted Date', 'Significant Update Date', 'Amended Date']].min(axis=1)
ev_incentives_df['Earliest Date'] = min_dates
ev_incentives_df.sort_values('Earliest Date')
# drop rows with null earliest dates
ev_incentives_df = ev_incentives_df[~pd.isnull(ev_incentives_df['Earliest Date'])]
ev_incentives_df.drop('Enacted Date', axis=1, inplace=True)
ev_incentives_df.drop('Significant Update Date', axis=1, inplace=True)
ev_incentives_df.drop('Amended Date', axis=1, inplace=True)

C:\Users\eurydice\AppData\Local\Temp/ipykernel_13220/4118455466.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ev_incentives_df['Earliest Date'] = min_dates

In [23]:
# help in counting total incentives for each year
ev_incentives_df['n'] = 1

In [118]:
ev_incentives_pivot = pd.pivot_table(ev_incentives_df,values='n',index=['State'],columns=ev_incentives_df['Earliest Date'].dt.year,aggfunc=np.sum, fill_value=0).cumsum(axis=1)
ev_sum_incentives = ev_incentives_pivot.sum(axis=0)
ev_sum_incentives

Earliest Date
1992      3
1993      6
1995      7
1996      8
1999      9
2001     10
2002     11
2004     14
2005     20
2006     26
2007     31
2008     33
2009     40
2010     47
2011     57
2012     64
2013     69
2014     76
2015     91
2016     99
2017    109
2018    170
2019    258
2020    339
2021    429
dtype: int64

In [121]:
ev_sum_from_1999 = ev_sum_incentives[5:len(ev_sum_incentives)]
ev_sum_from_1999
ev_sum_from_2000 = np.insert(ev_sum_from_1999.values, 0, 9)
ev_sum_from_2000

array([  9,  10,  11,  14,  20,  26,  31,  33,  40,  47,  57,  64,  69,
        76,  91,  99, 109, 170, 258, 339, 429], dtype=int64)

## Do linear regression
Use ev_sum_incentives that has sum of incentives per year in the USA and use all_sales_df which is the total of all sales of all type of electric cars per year. (years are from 2000-2020)

In [109]:
index = pd.date_range(start="2000", end="2021", freq="Y")
ev_multiple_info_df = pd.DataFrame(index=index, columns=['Amount of Incentives', 'Amount of EV Sales'])
ev_multiple_info_df['Amount of Incentives'] = 0
ev_multiple_info_df['Amount of EV Sales'] = all_sales_df.loc['Total'].values
ev_multiple_info_df

            Amount of Incentives  Amount of EV Sales
2000-12-31                     0              9350.0
2001-12-31                     0             20282.0
2002-12-31                     0             36042.0
2003-12-31                     0             47566.0
2004-12-31                     0             84233.0
2005-12-31                     0            205876.0
2006-12-31                     0            251864.0
2007-12-31                     0            351071.0
2008-12-31                     0            315763.0
2009-12-31                     0            290273.0
2010-12-31                     0            274974.0
2011-12-31                     0            286512.0
2012-12-31                     0            487819.0
2013-12-31                     0            592637.0
2014-12-31                     0            571054.0
2015-12-31                     0            498423.0
2016-12-31                     0            506565.0
2017-12-31                     0            558543.0
2018-12-31                     0            669028.0
2019-12-31                     0            700407.0
2020-12-31                     0            761100.0